@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --primary: #450f23;
  --secondary: #ffffff;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
